<div class="container">
  <H1>Nouveau cocktail</H1>
  <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-outline-success" %>
  <% end %>
  <br>
  <br>
  <%=  link_to "Home", root_path, class: "btn btn-outline-info"%>
</div>

