<div class="container ">
  <div class="text-center"></div>
    <div class="card mx-auto" style="width: 18rem;">
      <% if @cocktail.photo.attachment.nil? %>
        <img class="card-img-top" src="https://www.destinationcocktails.fr/wp-content/uploads/2019/11/le_secret_des_cocktails_a_etages-2.jpg" alt="Card image cap">
      <% else %>
        <%= cl_image_tag @cocktail.photo.key , class:"card-img-top"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @cocktail.name %></h5>
        <p class="card-text"><%= @cocktail.description %></p>
        <a href="<%=root_path %>" class="btn btn-primary">back to list</a>
        <td><%= link_to 'delete', cocktail_path(@cocktail[:id]), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </div>
    </div>
  </div>
</div>

<ul class="list-group">
  <% @cocktail.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
        <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to 'Back', root_path %> |
<%= link_to 'Leave a review', new_cocktail_review_path(@cocktail) %>
